
body{
  background-color: beige;


}

/* Services Text*/
#text h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 80px;
}
#text p{
  font-size: 20px;
}


/*about picture*/
.img-fluid {
    max-width: 100%;
    height: auto;
	border-style: solid;
    outline-style: solid;
    margin: 10px;
    float: left;
}
P{
	font-family: "times new roman", times, serif;
	margin: 10px;
	margin-top: 20px;
	clear: left;
	
}
/*about picture end*/
.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
  position: fixed;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}

/*navbar-brand*/
.navbar-brand{
  font-family: "times new roman", times, serif;
	text-align: center;
	font-style: italic;
	font-size: 45px;
  font-weight: bold;


}
.nav-link{
  font-size: 25px;	
}

/*logo*/
.logo{
  height:100px;
  position: relative;
  }

/*contact image*/
.image{
  float:left;
 
}
/*slide show*/
.myslider {
  margin: 0 auto;
  width: 70%;
  padding-bottom: 50px;
}

ul {
  list-style-type: none;
  
  padding: 0;
  overflow: hidden;
 
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:grey;
}
/*footer*/
footer.page-footer {
  bottom: 0;
  margin-top: 20px;
}
.mdb-color {
  background-color: #45526e;
}
.pt-4, .py-4 {
  padding-top: 1.5rem!important;
}
.btn-floating i {
  /* display: inline-block; */
  width: inherit;
  text-align: center;
}
.btn-floating.btn-sm i {
  font-size: .96154rem;
  line-height: 36.15385px;
}
/*footer end*/

/*galery*/
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%; }
  .gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }
  .gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
  
  @media (max-width: 450px) {
  .gallery {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  }
}
  
  @media (max-width: 400px) {
  .btn.filter {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  }
  }
/*contact*/
.form-sec{width:400px;
   background:#ccc; 
   padding:15px;
   width: 400px;
  padding: 15px;
  box-shadow: 0 0 4px #ccc;
}

/*moveing image*/
body{
  margin: 0;
  padding: 0;
}
section {
  height: 600px;
  background-image: url("../img/wasabi.jpeg");
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.Team{
  text-align: center;
}
/*box images*/
.box {
  text-align: center;
}
/*shopping card table*/
/*Submit page*/
#basket {
  font-size: 2.6em;
  line-height: 44px;
  margin: 0 0 44px 0;
  border: 1px solid #777;
  text-align: center;
  margin-top: 70px;
}
#wrapper {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}